/* ---------- Reset geral ---------- */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ---------- Corpo do site ---------- */

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #dcdcdc;
    color: #333;
}
/* ---------- Container central ---------- */

.header-container {   
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

.container {
    display: flex;               
    flex-direction: column;       
    align-items: center;          
    justify-content: center;      
    
    background-color: white;
    padding: 40px;
    max-width: 800px;
    margin: 40px auto;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


/* ---------- Cabeçalho (header) ---------- */
header {
    background-color: #033e68;
    padding: 20px 0;
}

header h1 {
    text-align: center;
    font-size: 36px;
}

header .azul {
    color: #00080b;
}

header .branco {
    color: #ffff;
}


/* ---------- Menu de navegação ---------- */

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* ---------- Conteúdo principal ---------- */

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(140vh - 110px); /* Altura da tela menos o header */
}

main h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #0077cc;
}

.perfil {
    width: 100px;
    border-radius: 50%;
    display: block;
    margin: 0 auto 20px auto;
}

main p {
    line-height: 1.6;
    font-size: 16px;
}

.card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
}
.card a {
  color: #0077cc;
  text-decoration: none;
}
.card a:hover {
  text-decoration: underline;
}

@media (max-width: 600px) {
    nav ul {
        flex-direction: column;
        align-items: center;
    }
}


footer {
  background-color: #033e68;
  color: white;
  text-align: center;
  padding: 20px;
  margin-top: 40px;
}


/* ---------- Estilo do formulário de contato ---------- */

form {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: 0 auto;
}

form label {
  font-weight: 300;
  margin-bottom: 5px;
  color: #333;
}

form input,
form textarea {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
  font-family: inherit;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

form input:focus,
form textarea:focus {
  border-color: #0077cc;
  outline: none;
  box-shadow: 0 0 4px rgba(0, 119, 204, 0.3);
}

form button {
  padding: 12px;
  border: none;
  border-radius: 6px;
  background-color: #0077cc;
  color: white;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #005fa3;
}


